

/* CSS for the jumbotron and button*/
.jumbotron {
    border: 1px solid black;
    text-align: center; 
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    background-color: lightgray;
}

.btn {
    border: 1px solid black;
    text-align: center;
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: white;
}

/*`CSS for the ranking table*/
table {
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    padding: 20px;
    background-color: lightgray;
}

.choices div {
    background-color: blue;
    color: white;
    width: 100px;
    padding: 5px;
    margin: 10px;
    border-radius: 15%;
  }
  
  /* Highlight answer when mouse over */
  .choices div:hover {
    background-color: lightblue;
  }
  
  /* Define answer result font color and style */
  .choices h3 {
    color: purple;
    font-style: italic;
  }
  
  /* Define highscore background color */
  #highscores ul {
    background-color: lightblue;
  }

  .profile, .highscores, .timer, .questions {
    display: flex;
    justify-content: center;
  }

  #question-title {
    text-align: center;
  }